body {
  background: url('/assets/images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight: 100;
	margin-top: 0;
  margin-bottom: -20px;
  font-size: 60px;
}

.white {
	color: #ffffff;
}

.lightgrey {
	color: #d4d5d6;
}

.grey {
	color: #a4a5a8;
}

.silver {
	color: #696a70;
}

.center {
    margin: auto;
    width: 50%;
}

.padding {
    padding-left: 10%;
}

html,
body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    position: fixed;
    padding-top: 450px;
}

@media (max-width: 991px) {
    .social {
        position: fixed;
        padding-top: 600px;
    }
}